/* posición y color del contenido principal (parte de la izquierda) */
#principal {
    float: none;
    width: 740px;
    margin-left: 75px;
    margin-right: 10px;
    background: #FFE3CC;
}

/* posición y color del contenido principal (parte de la derecha, formulario) */
#secundario {
    float: right;
    width: 500px;
    margin-top: 17px;
    margin-right: 75px;
    background: #FFE3CC;
}

/* Div para que la carga de brian no se "coma" un trozo del background */
#brian {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 925px;
}

/* Carta misteriosa */
#dorso {
    width: 200px;

    border-radius: 5px;
    -webkit-animation: tiembla 2s infinite;
    box-shadow: 1px 1px 50px purple;
    -webkit-box-shadow: 1px 1px 50px purple;
    -moz-box-shadow: 1px 1px 50px purple;
}

/* Cada 5% hace que la carta se mueva para un lado o para el otro */
@-webkit-keyframes tiembla {
    0% { -webkit-transform: rotateZ(0deg); }
    5% { -webkit-transform: rotateZ(1deg); }
    10% { -webkit-transform: rotateZ(-1deg); }
    15% { -webkit-transform: rotateZ(1deg); }
    20% { -webkit-transform: rotateZ(-1deg); }
  	25% { -webkit-transform: rotateZ(1deg); }
    30% { -webkit-transform: rotateZ(-1deg); }
    35% { -webkit-transform: rotateZ(1deg); }
    40% { -webkit-transform: rotateZ(-1deg); }
    45% { -webkit-transform: rotateZ(1deg); }
    50% { -webkit-transform: rotateZ(-1deg); }
    55% { -webkit-transform: rotateZ(1deg); }
    60% { -webkit-transform: rotateZ(-1deg); }
    65% { -webkit-transform: rotateZ(1deg); }
    70% { -webkit-transform: rotateZ(-1deg); }
    75% { -webkit-transform: rotateZ(1deg); }
    80% { -webkit-transform: rotateZ(-1deg); }
    85% { -webkit-transform: rotateZ(1deg); }
    90% { -webkit-transform: rotateZ(-1deg); }
    95% { -webkit-transform: rotateZ(1deg); }
    100% { -webkit-transform: rotateZ(0deg); }
}

/* Start Formulario */
#secundario form fieldset {
    border: 2px solid #0f0f0f;
    padding: 5px;
    font-size: 20px;
}

#secundario form {
    padding: 10px;
    margin: 10px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

#secundario form label{
  	color: #000;
  	font-size: 18px;
}

#secundario form label:hover {
  	color: #171717;
  	cursor: pointer;
}

#secundario form input[type="text"] {
  	width: 98.5%;
  	height: 35px;
  	padding-left: 5px;
  	font-size: 16px;
    color: white;
}

#secundario form input[type="password"] {
  	width: 98.5%;
  	height: 35px;
  	padding-left: 5px;
  	font-size: 16px;
    color: white;
}

#secundario form textarea {
    width: 98.5%;
  	resize: none;
  	padding: 5px;
    color: white;
}

#secundario form input[type="text"], textarea {
    background: #0f0f0f;
}

#secundario form input[type="password"], textarea {
    background: #0f0f0f;
}

#secundario form input[type="text"]:focus, #secundario form textarea:focus {
    background: #000;
    outline-color: #FFF;
}

#secundario form input[type="text"]:active, #secundario form textarea:active {
    background: #000;
    outline-color: #FFF;
}

#secundario form input[type="password"]:focus, #secundario form textarea:focus {
    background: #000;
    outline-color: #FFF;
}

#secundario form input[type="password"]:active, #secundario form textarea:active {
    background: #000;
    outline-color: #FFF;
}

#secundario form .canbio {
    transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
}

#secundario form button {
    background: #0f0f0f;
    border-radius: 5px;
    color: white;
    padding:10px 20px;
    border: 2px solid white;
}

#secundario form button:hover {
  background-color: #272a2b;
	color: #FFF;
	cursor: pointer;
}
/* End Formulario */
