/* posición y color del contenido principal */
#principal {
    width: 1250px;
    margin-left: 75px;
    margin-right: 75px;
    background: #FFE3CC;
    float: none;
}

/* Quitamos los estilos de la lista */
.modos {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Añadimos imágenes para los iconos de la lista y las posicionamos */
.estandar {
    background-image: url("../imagenes/estandar2.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-left: 20px;
}

.salvaje {
    background-image: url("../imagenes/salvaje2.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 10px;
    margin-left: 20px;
}
